In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'C:\Users\Mahek\Desktop\Rahul_test\test.xlsx')

In [3]:
df.head(5)

   ID     Name  Age
0  11    Mahek  30A
1  12    Rahul  NaN
2  13    Sagar  NaN
3  14    Komal  29_
4  15  Divyesh  NaN

In [4]:
for i in df:
    print(i)

ID
Name
Age

In [5]:
s = df.fillna(method='ffill')

In [6]:
s.to_excel('test.xlsx')